<div class="card mb-0 mt-4 rounded-0">
  <div class="card-header card-custom-top">
    <h5 class="align-middle text-dark">
      <i class="fas fa-hand-holding-usd"></i>Adicionar usuário
    </h5>
  </div>
  <div class="card-body">
    <form [formGroup]="form">
      
      <div class="row">

        <div class="col-12 col-md-12">
          <div class="form-group">
            <label class="form-required">
              <small [ngClass]="{'text-red': displayMessage.nome}">Nome</small>
            </label>
            <input type="text" class="form-control" formControlName="nome" value="{{usuario?.nome}}" [ngClass]="{'is-invalid': displayMessage.nome}">
            <small class="form-text text-red" *ngIf="displayMessage.nome" [innerHTML]="displayMessage.nome"></small>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-12 col-md-4">
          <div class="form-group">
            <label class="form-required">
              <small [ngClass]="{'text-red': displayMessage.email}">E-mail</small>
            </label>
            <input type="email" class="form-control" formControlName="email" value="{{usuario?.email}}" [ngClass]="{'is-invalid': displayMessage.email}">
            <small class="form-text text-red" *ngIf="displayMessage.email" [innerHTML]="displayMessage.email"></small>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-group">
            <label class="form-required">
              <small [ngClass]="{'text-red': displayMessage.login}">Login</small>
            </label>
            <input type="text" class="form-control" formControlName="login" value="{{usuario?.login}}" [ngClass]="{'is-invalid': displayMessage.login}">
            <small class="form-text text-red" *ngIf="displayMessage.login" [innerHTML]="displayMessage.login"></small>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div class="form-group">
            <label class="form-required">
              <small [ngClass]="{'text-red': displayMessage.senha}">Senha</small>
            </label>
            <input type="password" class="form-control" formControlName="senha" [value]="usuario?.senha" [ngClass]="{'is-invalid': displayMessage.senha}">
            <small class="form-text text-red" *ngIf="displayMessage.senha" [innerHTML]="displayMessage.senha"></small>
          </div>
        </div>

      </div>
    </form>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-12">
        <button type="submit" class="btn btn-danger float-right" (click)="onSubmit()">
          <i class="fa fa-check"></i>
          Salvar
        </button>
        <a [routerLink]="['/usuario/listar']" class="btn btn-secondary float-right mr-1"> 
          <i class="fa fa-times"></i>
          Cancelar
        </a>
      </div>
    </div>
  </div>
</div>