<div class="container-fluid">
  <div class="row">
      <div class="col-12">
          <h3 class="align-middle text-dark font-weight-bold">
              <i class="fas fas fa-user"></i> Usuário
              <hr>
          </h3>
      </div>
  </div>
  <router-outlet></router-outlet>
</div>