<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-light-primary elevation-4">
  <!-- Brand Logo -->
  <a class="brand-link" href="/">
    <img alt="AdminLTE Logo" class="brand-image elevation-3" src="favicon.ico" style="opacity: .7">
    <span class="brand-text font-weight-dark">Combustível API</span>
  </a>
  <!-- Sidebar -->
  <div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">

        <li class="nav-item">
          <a [routerLink]="['/']" class="nav-link">
            <i class="nav-icon fas fa-home"></i>
            <p> &nbsp; Início </p>
          </a>
        </li>

        <li class="nav-item has-treeview">
          <a href="javascript:void(0)" class="nav-link">
            <i class="nav-icon fas fa-user fa-do"></i>
            <p>
              Usuários
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a [routerLink]="['/usuario/listar']" class="nav-link">
                <i class="far fas fa-list nav-icon"></i>
                <p>Listar</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/usuario/adicionar']" class="nav-link">
                <i class="far fas fa-plus nav-icon"></i>
                <p>Adicionar</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item has-treeview">
          <a href="javascript:void(0)" class="nav-link">
            <i class="nav-icon fas fa-gas-pump fa-do"></i>
            <p>
              Combustível
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a [routerLink]="['/combustivel/listar']" class="nav-link">
                <i class="far fas fa-list nav-icon"></i>
                <p>Listar Histórico</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/combustivel/adicionar']" class="nav-link">
                <i class="far fas fa-plus nav-icon"></i>
                <p>Adicionar Histórico</p>
              </a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/combustivel/operacoes']" class="nav-link">
                <i class="far fas fa-angle-double-right nav-icon"></i>
                <p>Operações</p>
              </a>
            </li>
          </ul>
        </li>

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
