<div class="table-overflow">
  <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <th scope="col">Atributo</th>
          <th scope="col">Média de Valor de Compra</th>
          <th scope="col">Média de Valor de Venda</th>
        </thead>
        <tbody>
          <tr *ngFor="let bandeira of listaBandeiras">
          <td>{{bandeira.atributo}}</td>
          <td>{{bandeira.mediaValorCompra}}</td>
          <td>{{bandeira.mediaValorVenda}}</td>
          </tr>
        </tbody>
  </table>
</div>