<div class="container-fluid">
  <div class="row">
      <div class="col-12">
          <h3 class="align-middle text-dark font-weight-bold">
              <i class="fas fas fa-gas-pump"></i> Combustível
              <a [routerLink]="['/combustivel/operacoes']" class="back-button">
                <span class="info-box-icon elevation-1"><i class="fas fa-arrow-left"></i></span>
              </a>
              <hr>
          </h3>
          
      </div>

      
  </div>
  <router-outlet></router-outlet>
</div>