<div class="row">
  <input type="text" class="form-control col-sm-3" [(ngModel)]="combustivel" (input)="search()" placeholder="Buscar Produto">
</div>

<br/>

<div class="row">
  <table class="table table-striped">
    <thead class="thead-dark">
    <th scope="col">ID</th>
    <th scope="col">Combustivel</th>
    <th scope="col">Data</th>
    <th scope="col">Preço</th>
    <th class="radius-rigt-table" scope="col">Ações</th>
    </thead>
    <tbody>
    <tr *ngFor="let historico of listaHistorico">
    <td scope="row">{{historico.id}}</td>
    <td>{{historico.combustivel}}</td>
    <td>{{historico.data}}</td>
    <td>{{historico.preco}}</td>
    <td scope="row">
      <button type="button" routerLink="/combustivel/editar/{{historico.id}}" class="btn btn-success">Editar</button>
      <button type="button" routerLink="/combustivel/deletar/{{historico.id}}" class="btn btn-danger">Deletar</button>
    </td>
    </tr>
    </tbody>
  </table>
</div>

