<div class="card mb-0 mt-4 rounded-0">
  <div class="card-header card-custom-top">
    <h5 class="align-middle text-dark">
      <i class="fas fas fa-th-list"></i> Operações
    </h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <a class="info-box" [routerLink]="['/combustivel/listarPorDataColeta']">
          <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-calendar-alt"></i></span>
          <div class="info-box-content mt-2">
            <h5 class="text-dark">Exibir dados agrupados por Data de Coleta</h5>
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <a class="info-box" [routerLink]="['/combustivel/listarPorDistribuidora']">
          <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-truck"></i></span>
          <div class="info-box-content mt-2">
            <h5 class="text-dark">Exibir dados agrupados por Distribuidora</h5>
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <a class="info-box" [routerLink]="['/combustivel/mediasPorBandeira']">
          <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-search-dollar"></i></span>
          <div class="info-box-content mt-2">
            <h5 class="text-dark">Valor Médio de Compra e Venda Por Bandeira</h5>
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <a class="info-box" [routerLink]="['/combustivel/mediasPorMunicipio']">
          <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-search-dollar"></i></span>
          <div class="info-box-content mt-2">
            <h5 class="text-dark">Valor Médio de Compra e Venda Por Município</h5>
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <a class="info-box" [routerLink]="['/combustivel/listarPorSiglaRegional']">
          <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-building"></i></span>
          <div class="info-box-content mt-2">
            <h5 class="text-dark">Exibir dados agrupados pela Sigla da Região</h5>
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <a class="info-box" [routerLink]="['/combustivel/mediaPrecoMunicipio']">
          <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-hand-holding-usd"></i></span>
          <div class="info-box-content mt-2">
            <h5 class="text-dark">Média de Preço por Município</h5>
          </div>
        </a>
      </div>
    </div>      
  </div>
</div>
