
<div class="wrapper">

  <app-navbar></app-navbar>
  <app-sidebar></app-sidebar>
  <div class="content-wrapper">
    <div class="content-header">
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>