<div class="row">
  <input type="text" class="form-control col-sm-3" [(ngModel)]="nome" (input)="search()" placeholder="Buscar Usuário">
</div>

<br/>

<div class="row">
  <table class="table table-striped">
    <thead class="thead-dark">
    <th class="radius-left-table" scope="col">ID</th>
    <th scope="col">Nome</th>
    <th scope="col">Email</th>
    <th scope="col">Login</th>
    <th scope="col">Admin</th>
    <th class="radius-rigt-table" scope="col">Ações</th>
    </thead>
    <tbody>
    <tr *ngFor="let usuario of usuarios">
    <td scope="row">{{usuario.id}}</td>
    <td>{{usuario.nome}}</td>
    <td>{{usuario.email}}</td>
    <td>{{usuario.login}}</td>
    <td>{{usuario.admin}}</td>
    <td scope="row">
      <button type="button" routerLink="/usuario/editar/{{usuario.id}}" class="btn btn-success">Editar</button>
      <button type="button" routerLink="/usuario/deletar/{{ usuario.id }}" class="btn btn-danger">Deletar</button>
    </td>
    </tr>
    </tbody>
  </table>
</div>