<div class="card mb-0 mt-4 rounded-0">
  <div class="card-header card-custom-top">
    <h5 class="align-middle text-dark">
      <i class="fas fa-hand-holding-usd"></i>Preço Médio Por Município
    </h5>
  </div>
  <div class="card-body">
    <form [formGroup]="form">
      
      <div class="row">

        <div class="col-12 col-md-4">
          <div class="form-group">
            <label class="form-required">
              <small [ngClass]="{'text-red': displayMessage.municipio}">Município</small>
            </label>
            <input type="text" class="form-control" formControlName="municipio" [ngClass]="{'is-invalid': displayMessage.municipio}">
            <small class="form-text text-red" *ngIf="displayMessage.municipio" [innerHTML]="displayMessage.municipio"></small>
          </div>
        </div>

      </div>
    </form>
  </div>

  <div class="card-footer">
    <div class="row">
      <div class="col-12">
        <button type="submit" class="btn btn-danger float-right" [disabled]="form.invalid" (click)="onSubmit()">
          <i class="fa fa-check"></i>
          Consultar
        </button>
        <a [routerLink]="['/combustivel/operacoes']" class="btn btn-secondary float-right mr-1"> 
          <i class="fa fa-times"></i>
          Cancelar
        </a>
      </div>
    </div>
  </div>
</div>
