<div class="card mb-0 mt-4 rounded-0">

  <div class="card-header card-custom-top">
    <h5 class="align-middle text-dark">
      <i class="fas fa-hand-holding-usd"></i>Adicionar Historico de Combustível
    </h5>
  </div>

  <div class="card-body">
    <form [formGroup]="form">
      
      <div class="row">

        <div class="col-12 col-md-12">
          <div class="form-group">
            <label class="form-required">
              <small [ngClass]="{'text-red': displayMessage.combustivel}">Combustivel</small>
            </label>
            <input type="text" class="form-control" formControlName="combustivel" [ngClass]="{'is-invalid': displayMessage.combustivel}">
            <small class="form-text text-red" *ngIf="displayMessage.combustivel" [innerHTML]="displayMessage.combustivel"></small>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-12 col-md-6">
          <div class="form-group">
            <label class="form-required">
              <small [ngClass]="{'text-red': displayMessage.data}">Data</small>
            </label>
            <input type="date" class="form-control" formControlName="data" [ngClass]="{'is-invalid': displayMessage.data}">
            <small class="form-text text-red" *ngIf="displayMessage.data" [innerHTML]="displayMessage.data"></small>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="form-group">
            <label class="form-required">
              <small [ngClass]="{'text-red': displayMessage.preco}">Preço</small>
            </label>
            <input type="number" class="form-control" formControlName="preco" [ngClass]="{'is-invalid': displayMessage.preco}">
            <small class="form-text text-red" *ngIf="displayMessage.preco" [innerHTML]="displayMessage.preco"></small>
          </div>
        </div>

      </div>

    </form>
  </div>

  <div class="card-footer">
    <div class="row">
      <div class="col-12">
        <button type="submit" class="btn btn-danger float-right" [disabled]="form.invalid" (click)="onSubmit()">
          <i class="fa fa-check"></i>
          Salvar
        </button>
        <a [routerLink]="['/combustivel/listar']" class="btn btn-secondary float-right mr-1"> 
          <i class="fa fa-times"></i>
          Cancelar
        </a>
      </div>
    </div>
  </div>

</div>