<div class="card mb-0 mt-4 rounded-0">
  <div class="card-header card-custom-top">
    <h5 class="align-middle text-dark">
      <i class="fas fa-hand-holding-usd"></i> Informe a Sigla de Região para realizar a listagem por ela
    </h5>
  </div>
  <div class="card-body">
    <form [formGroup]="form">
      
      <div class="row">

        <div class="col-12 col-md-4">
          <div class="form-group">
            <label class="form-required">
              <small [ngClass]="{'text-red': displayMessage.siglaRegiao}">Sigla da Região</small>
            </label>
            <input type="text" class="form-control" formControlName="siglaRegiao" [ngClass]="{'is-invalid': displayMessage.siglaRegiao}">
            <small class="form-text text-red" *ngIf="displayMessage.siglaRegiao" [innerHTML]="displayMessage.siglaRegiao"></small>
          </div>
        </div>

      </div>
    </form>
  </div>

  <div class="card-footer">
    <div class="row">
      <div class="col-12">
        <button type="submit" class="btn btn-danger float-right" [disabled]="form.invalid" (click)="onSubmit()">
          <i class="fa fa-check"></i>
          Consultar
        </button>
        <a [routerLink]="['/combustivel/operacoes']" class="btn btn-secondary float-right mr-1"> 
          <i class="fa fa-times"></i>
          Cancelar
        </a>
        <a class="btn btn-info float-right mr-2" (click)="limparSubmit()"> 
          <i class="fa fa-times"></i>
          Limpar
        </a>
      </div>
    </div>
  </div>
</div>

<div class="table-overflow">
  <table class="table table-striped table-bordered">
        <thead class="thead-dark">
          <th scope="col">ID</th>
          <th scope="col">Região</th>
          <th scope="col">Estado</th>
          <th scope="col">Municipio</th>
          <th scope="col">Revendedora</th>
          <th scope="col">Cod. Instalação</th>
          <th scope="col">Produto</th>
          <th scope="col">Data Coleta</th>
          <th scope="col">Valor de Compra</th>
          <th scope="col">Valor de Venda</th>
          <th scope="col">Und de Medida</th>
          <th scope="col">Bandeira</th>
        </thead>
        <tbody>
          <tr *ngFor="let combustivel of listaCombustiveis">
          <td>{{combustivel.id}}</td>
          <td>{{combustivel.siglaRegiao}}</td>
          <td>{{combustivel.siglaEstado}}</td>
          <td>{{combustivel.municipio}}</td>
          <td>{{combustivel.revendedora}}</td>
          <td>{{combustivel.codInstalacao}}</td>
          <td>{{combustivel.produto}}</td>
          <td>{{combustivel.dataColeta | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
          <td>{{combustivel.valorCompra}}</td>
          <td>{{combustivel.valorVenda}}</td>
          <td>{{combustivel.unidadeMedida}}</td>
          <td>{{combustivel.bandeira}}</td>
          </tr>
        </tbody>
  </table>
</div>