<div class="card mb-0 mt-4 rounded-0">

  <div class="card-header card-custom-top">
    <h5 class="align-middle text-dark">
      <i class="fas fa-hand-holding-usd"></i>Deletar Usuário
    </h5>
  </div>

  <div class="card-body">
    <form>
      
      <div class="row">

        <div class="col-12 col-md-12">
          <div class="form-group">
            <label class="form-required">
              <small>Nome</small>
            </label>
            <input type="text" class="form-control" [value]="usuario?.nome" name="nome" disabled>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-12 col-md-6">
          <div class="form-group">
            <label class="form-required">
              <small>E-mail</small>
            </label>
            <input type="text" class="form-control" [value]="usuario?.email" name="data" disabled>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="form-group">
            <label class="form-required">
              <small>Login</small>
            </label>
            <input type="number" class="form-control" [value]="usuario?.login" name="preco" disabled>
          </div>
        </div>

      </div>

    </form>
  </div>

  <div class="card-footer">
    <div class="row">
      <div class="col-12">
        <button type="submit" class="btn btn-danger float-right" (click)="confirmarDelete()">
          <i class="fa fa-check"></i>
          Deletar
        </button>
        <a [routerLink]="['/usuario/listar']" class="btn btn-secondary float-right mr-1"> 
          <i class="fa fa-times"></i>
          Cancelar
        </a>
      </div>
    </div>
  </div>

</div>